<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<form action="{% url 'update' object.pk %}" method="POST">
  <div class="modal-header">
    <h4 class="modal-title">แก้ไขข้อมูล</h4>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <div class="modal-footer">
    <input type="submit" value="Update" />
  </div>
</form>
<br><br>
<a href="/">INDEX</a>

<script>
  $("#modal").on('hidden.bs.modal', function(){
    $(this).data('bs.modal', null);
  });
</script>
